@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../public/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato-Black';
  src: url('../../public/assets/fonts/Lato-Black.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../public/assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('../../public/assets/fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: normal;
}
body {
  font-family: 'Roboto-Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #000;
}



/*==================================================Header==================================================
=                                                                                                          =
=                                                                                                          =
===========================================================================================================*/


/* Header Styles */
nav {
  position: fixed; /* Make the nav fixed */
  top: 0;
  left: 180px;
  width: 100%; /* Full width */
  height: 60px; /* Set a fixed height */
  display: flex;
  flex-direction: row; /* Align items horizontally */
  justify-content: flex-start;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 0 20px; /* Adjust padding to horizontal */
  box-sizing: border-box; /* Include padding in width and height calculation */
  z-index: 1000; /* Ensure it stays on top */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Align items horizontally */
  align-items: center; /* Center items vertically within the nav */
}

nav ul li {
  margin-right: 60px; /* Spacing between links */
}



/* Remove default underline for links */
nav ul li a {
  color: #fff;
  text-decoration: none;
  border-radius: 5px; /* Optional: add some border radius */
  padding: 10px; /* Add padding for better hover area */
  background-color: black; /* Set initial background color */
  transition: background-color 0.5s ease-in-out; /* Add transition for background color */
}

/* Add light pink background on hover */
nav ul li a:hover {
  background-color: #f7f6f7; /* Super light pink background */
  color: #000; /* Change text color if needed */
  border-radius: 5px; /* Optional: add some border radius */
}



/*==================================================Footer==================================================
=                                                                                                          =
=                                                                                                          =
===========================================================================================================*/


section {
  padding: 40px 20px;
  margin: auto;
  background-color: #101010;
  
  border-radius: 8px;
  max-width: 800px;
  
}

section h2 {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 2em;
}

section p, section a {
  color: #ddd;
  font-size: 1.2em;
}

section a {
  color: #fff;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}