/*==================================================Home====================================================
=                                                                                                          =
=                                                                                                          =
===========================================================================================================*/
#home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 80vh; 
  background-color: #000; 
  border: 2px solid #df1b1b;
  box-sizing: border-box; 
  position: relative;
  overflow: hidden;
  padding-left: 20%; /* This ensures the content starts 20% from the left */
}

/* Styles for the name */
.home-name {
  color: #fff;
  font-size: 6em;
  font-family: 'Lato-Black', Arial, sans-serif;
  text-align: left; 
  z-index: 2;
}

/* Background image */
.home-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/assets/images/home_flower.jpg');
  background-size: cover; 
  background-position: right center; 
  z-index: 1; 
  opacity: 1; /* Added opacity to ensure text is readable */
}

/* Styles for the about section */
.home-about {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Roboto-Medium', Arial, sans-serif;
  text-align: left; 
  z-index: 2;
  margin: 30% 0;
}

/* Contact icons */
.contact-icons {
  display: flex;
  justify-content: flex-start;
  z-index: 2; 
  position: absolute;
  bottom: 5%;
}

.contact-icons a {
  margin: 0 5%;
  color: #fff;
  font-size: 2em;
  text-decoration: none;
}

.contact-icons a:hover {
  color: #ccc;
}

/* Mobile Styles */
@media (max-width: 768px) {
  #home {
    padding-left: 0%; /* Adjust padding for smaller screens */
    margin-left: 0%;
  }

  .home-name {
    font-size: 3em;
  }

  .home-about {
    font-size: 1em;
    margin-top: 5%;
  }

  .contact-icons a {
    font-size: 2em;
    margin: 0 10%;
  }
}

/* PC View Styles */
@media (min-width: 769px) {
  #home {
    padding-left: 0%; /* 20% padding from the left on larger screens */
    margin-left: 10%;
  }

  .home-name {
    margin-top: 1%; /* Adjust margin to position below navigation bar */
  }

  .home-about {
    margin-top: 2%; /* Adjust spacing under the name */
  }

  .contact-icons a{
     /* Adjust spacing under the about section */
    margin-top: 5%;
  }
}
