

/*==================================================Home====================================================
=                                                                                                          =
=                                                                                                          =
===========================================================================================================*/



/* Ensure the home section takes full height and centers content */
/* Ensure the home section takes full height and centers content */
#home {
  display: flex;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #000; /* Black background */
  border-color: #000;
  box-sizing: border-box; /* Ensure padding is included in width calculations */
  position: relative;
}

/* Styles for the name */
.home-name {
  color: #fff;
  font-size: 6em;
  font-family: 'Lato-Black', Arial, sans-serif;
  text-align: center; /* Center the text within the element */
  position: absolute;
  left: -150px; 
  top: 100px; /* Adjust the vertical position by -50 pixels */
  z-index: 2; /* Place it above the background image */
}

/* Example 2: Maintain aspect ratio with fixed width */


.home-background-image {
  position: absolute;
  top: 0;
  left: -50px;
  width: 1200px;
  height: 100%;
  background-image: url('/public/assets/images/home_flower.jpg'); /* Correct path */
  background-size: cover; /* Cover the entire background */
  background-position: right center; /* Center the image */
  z-index: 1; /* Place it behind other elements */
}

.home-about {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Roboto-Medium', Arial, sans-serif;
  text-align: center; /* Center the text within the element */
  position: absolute;
  width: 400px;
  left: -190px; 
  top: 250px; 
  z-index: 2; 
}

.contact-icons {
  position: absolute;
  top: 600px; /* Adjust as needed */
  left: -150px; /* Shift to the left */
  z-index: 2; /* Place it above the background image */
}

.contact-icons a {
  margin: 0 20px;
  color: #fff;
  
  font-size: 2em;
  text-decoration: none;
}

.contact-icons a:hover {
  color: #ccc;
}

/*==================================================Section=================================================
=                                                                                                          =
=                                                                                                          =
===========================================================================================================*/

section {
  padding: 40px 20px;
  margin: auto;
  background-color: #111;
  
  border-radius: 8px;
  max-width: 800px;
  
}

section h2 {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 2em;
}

section p, section a {
  color: #ddd;
  font-size: 1.2em;
}

section a {
  color: #fff;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/* Specific styles for the home-name element */
.home {
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 8em;
  font-family: 'Lato-Black', Arial, sans-serif;
  text-align: center; /* Center the text within the home-name element */
}



/*==================================================Projects================================================
=                                                                                                          =
=                                                                                                          =
===========================================================================================================*/
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  background-color: #222;
  border: 1px solid #fff;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.project h3 {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
}


