

/*==================================================Home====================================================
=                                                                                                          =
=                                                                                                          =
===========================================================================================================*/
#home {
  display: flex;
  align-items: center;
  height: 100vh; 
  background-color: #000; 
  border-color: #000;
  box-sizing: border-box; 
  position: relative;
}

/* Styles for the name */
.home-name {
  color: #fff;
  font-size: 6em;
  font-family: 'Lato-Black', Arial, sans-serif;
  text-align: center; 
  position: absolute;
  left: -150px; 
  top: 100px; 
  z-index: 2; 
}

.home-background-image {
  position: absolute;
  top: 0;
  left: -50px;
  width: 1200px;
  height: 100%;
  background-image: url('/public/assets/images/home_flower.jpg');
  background-size: cover; 
  background-position: right center; 
  z-index: 1; 
}

.home-about {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Roboto-Medium', Arial, sans-serif;
  text-align: center; 
  position: absolute;
  width: 400px;
  left: -190px; 
  top: 250px; 
  z-index: 2; 
}

.contact-icons {
  position: absolute;
  top: 600px; 
  left: -150px; 
  z-index: 2; 
}

.contact-icons a {
  margin: 0 20px;
  color: #fff;
  
  font-size: 2em;
  text-decoration: none;
}

.contact-icons a:hover {
  color: #ccc;
}



