#projects {
  padding-bottom: 2em;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #000; 
  color: #fff;
  text-align: center;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 85vh; 
}

#projects h1 {
  font-family: 'Lato-Black', Arial, sans-serif;
  font-size: 6em;
}

#projects h2 {
  font-family: 'SourceSans3', Arial, sans-serif;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
}

/* Container for project cards */
.projects-container {
  display: grid;
  gap: 5em;
}

.project-card {
  position: relative;
  background-color: #2e2e2e;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  width: 100%; /* Adjust as needed */
  aspect-ratio: 16 / 10.5882353; /* Ensure consistent height */

}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: auto;
}

.project-details {
  position: absolute;
  padding-top: 1%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%; 
  background-color: #bca9a1; 
  color: white; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.project-title {
  margin: 0;
  font-family: 'SourceSans3', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  border: 2px solid #19e8e5;
}


/* Styles for overlay and expanded project */
.overlay {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.expanded-project {
  position: relative;
  left:0%;
  top: 0%;
  aspect-ratio: 16 / 9; /* This will maintain a 16:9 aspect ratio */
  background-color: #2e2e2e;
  width: 60%;
  height: 60%;
  max-height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 8px;
  padding: 5%;
  box-sizing: border-box;
}

.expanded-project .project-image {
  
  height: auto;
}

.expanded-project .project-details {
  /*border: 2px solid #1b45df;*/
  border: 2px solid #19e8e5;
  width:auto;
  height: 500px;
  top:70%;
  background-color: #bca9a1; 
  color: white;
}

.expanded-project .github-button {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}

.expanded-project .project-title {
  font-size: 2em;
  border: 2px solid #04c58b;
  
}

.expanded-project .project-description {
  font-size: 1.2em;
  line-height: 1.5;
  border: 2px solid #d8dedc;
  text-align: center;
}

/* Desktop styles */
@media (min-width: 769px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
  .project-title {
    font-size: 1.2em;
  }

  .project-description {
    font-size: 0.8em;
  }
}

/* Mobile styles */
@media (max-width: 768px) {


  #projects h1 {
    font-family: 'Lato-Black', Arial, sans-serif;
    font-size: 3em;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }

  .project-card {
    margin-bottom: 1em;
    width: 100%;
  }

  .project-title {
    font-size: 1.2em;
  }

  .project-description {
    font-size: 0.75em;
  }
}
