/* General styles for the Projects section */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#projects {
  padding: 2em;
  background-color: #000; /* Dark background to match the theme */
  color: #fff;
  text-align: center;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100vh; /* Full viewport height */
}

#projects h1 {
  font-family: 'Lato-Black', Arial, sans-serif;
  font-size: 3em;
  margin-bottom: 1em;
}

/* Container for project cards */
.projects-container {
  display: grid;
  gap: 5em;
}

.project-card {
  background-color: #2e2e2e;
  border: 2px solid #00ffff; /* Light blue border to match the theme */
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  width: 100%; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: auto;
}

.project-details {
  padding: 1em;
}

.project-title {
  font-family: 'Lato-Black', Arial, sans-serif;
  font-size: 1.5em;
  margin: 0.5em 0;
}

.project-description {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
}

/* Desktop styles */
@media (min-width: 769px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }

  .project-card {
    height: 300px; /* Ensure consistent height */
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr;
  }

  .project-card {
    margin-bottom: 1em;
    
    width: 100%;
  }

  .project-title {
    font-size: 1.2em;
  }

  .project-description {
    font-size: 0.9em;
  }
}
