@font-face {
  font-family: 'Roboto-Regular';
  src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato-Black';
  src: url('../public/fonts/Lato-Black.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../public/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('../public/fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: normal;
}
body {
  font-family: 'Roboto-Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #000;
}



/*==================================================Header==================================================
=                                                                                                          =
=                                                                                                          =
===========================================================================================================*/



/* Style for the nav element */
nav {
  position: fixed; /* Make the nav fixed */
  top: 0;
  left: 0;
  width: 200px; /* Set a fixed width */
  height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #000;
  color: #fff;
  padding: 20px;
  box-sizing: border-box; /* Include padding in width and height calculation */
}

/* Style for the ul element */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Style for the li and Link elements */
nav ul li {
  margin-bottom: 20px; /* Spacing between links */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
/*==================================================Home====================================================
=                                                                                                          =
=                                                                                                          =
===========================================================================================================*/
homeName {
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 8em;
  font-family: 'Lato-Black', Arial, sans-serif;
  text-align: center; /* Center the text within the homeName element */
}


/*==================================================Section=================================================
=                                                                                                          =
=                                                                                                          =
===========================================================================================================*/

section {
  padding: 40px 20px;
  margin: 20px auto;
  background-color: #111;
  border: 2px solid #fff;
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

section h2 {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 2em;
}

section p, section a {
  color: #ddd;
  font-size: 1.2em;
}

section a {
  color: #fff;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/* Specific styles for the home-name element */
.home {
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 8em;
  font-family: 'Lato-Black', Arial, sans-serif;
  text-align: center; /* Center the text within the home-name element */
}
/*==================================================Projects================================================
=                                                                                                          =
=                                                                                                          =
===========================================================================================================*/
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  background-color: #222;
  border: 1px solid #fff;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.project h3 {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
}


/*==================================================Footer==================================================
=                                                                                                          =
=                                                                                                          =
===========================================================================================================*/

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 2px solid #000;
}

footer p {
  margin: 0;
}
