.contact-section {
  
    padding: 2em;
    background-color: #000;
    color: #fff;
    overflow-y: hidden;

  }
  
  .contact-background-image {
    position: absolute;
    
    left: 0;
    right: 0;
    width: 100%;
    height: 80%;
    
    background-image: url('/public/assets/background_images/contact_flower.jpg');
    background-size: cover; 
    background-position: center; 
    z-index: 1; 
    opacity: 1; 
    border: 1px solid #183d93;
    overflow-y: hidden;
  }
  


  .contact-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    z-index: 2;
    
  }
  
  .contact-form-container {
    margin-left: 8%;
    max-width: 600px;
    width: 100%;
    border: 1px solid #3b404c;
    z-index: 2;
    padding-left: 10%;
  }
  
  .contact-form-container h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    z-index: 2;
  }
  
  .contact-form-container h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    z-index: 2;
  }
  
  .contact-form-container p {
    font-size: 1em;
    margin-bottom: 2em;
    z-index: 2;
  }
  
  .contact-form-container form {
    display: flex;
    flex-direction: column;
    
  }
  
  .contact-form-container input
  {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1em;
    width: 90%;
  }
  .contact-form-container textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1em;
    width: 90.5%;
    height: 100px;
   
    
  }
  
  .contact-form-container button {
    padding: 0.75em 1em;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
  }
  
  .schedule-meeting-button {
    margin-left: 1em;
  }
  
  .contact-form-container button:hover,
  .contact-form-container .schedule-meeting-button:hover {
    background-color: #555;
    color: #fff;
  }
  
  .contact-form-container .schedule-meeting-button:hover {
    background-color: #555;
    color: #fff;
  }

  .contact-form-container contact-buttons {
    margin-top: 10%;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .contact-form-container contact-buttons a {
    color: #fff;
    margin-right: 1em;
  }

  