#home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 85vh; 
  background-color: #000; 
  /*border: 2px solid #df1b1b;*/
  box-sizing: border-box; 
  position: relative;
  overflow: hidden;
}

#home name {
  color: #fff;
  font-size: 6em;
  font-family: 'Lato-Black', Arial, sans-serif;
  text-align: left; 
  z-index: 2;
}
#home description {
  color: #fff;
  font-size: 2em;
  font-family: 'Roboto-Medium', Arial, sans-serif;
  text-align: left; 
  z-index: 2;
}

.home-background-image {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/assets/background_images/home_flower.jpg');
  background-size: cover; 
  background-position: 10% center; 
  z-index: 1; 
  opacity: 1; 
}




#home typing-animation {
  color: #fff;
  font-family: 'Roboto-Medium', Arial, sans-serif;
  text-align: left; 
  font-size: 1.3em;
  z-index: 2;
}

.home-hacking-animation {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Roboto-Medium', Arial, sans-serif;
  text-align: left; 
  z-index: 2;
}

.contact-icons {
  display: flex;
  z-index: 2;
  width: 80%;
  position: absolute;
  bottom: 5%;
}
.contact-icons a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  box-sizing: border-box; 
}

.contact-icons a:hover {
  color: #ccc;
  transition: background-color 0.5s ease-in-out; 
}

/* Mobile */
@media (max-width: 768px) {
  #home {
    padding-left: 0%; 
    margin-left: 5%;
  }
  .home-background-image
  {
    background-position: 80% center;
    left:10%;
  }
  #home name {
    padding-left: 6%;
    font-size: 3em;
  }
  #home description {
    padding-left: 6.5%;
    font-size: 1em;
    margin-top: 3%;
  }
  #home typing-animation {
    padding-left: 6.5%;
    font-size: 1em;
    margin-top: 0%;
  }


  .contact-icons {
    bottom: 0%;
    padding-left: 3%;
    flex-direction: row; 
    align-items: flex-start; 
  }
  .contact-icons a{
    margin-top: 5%;
    margin-right: 2%;
    padding-right: 2%;
  }
}

/* Desktop */
@media (min-width: 769px) {
  #home {
    padding-left: 0%; 
    margin-left: 10%;
  }
  #home name {
    margin-top: 1%; 
  }
  #home description {
    margin-top: 2%; 
    margin-left: 0.5%;
  }
  #home typing-animation {
    margin-top: 0%; 
    margin-left: 0.7%;
  }
  .contact-icons {
    bottom: 0%;
    flex-direction: row; 
  }
  .contact-icons a{
    margin-top: 5%;
    margin-right: 2%;
    padding: 2%;
  }
}
