#projects {
  padding-bottom: 2em;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #000; 
  color: #fff;
  text-align: center;
  overflow-y: auto; 
  height: 85vh; 
}

#projects h1 {
  font-family: 'Lato-Black', Arial, sans-serif;
  font-size: 6em;
}

#projects h2 {
  font-family: 'SourceSans3', Arial, sans-serif;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
}

#projects h3 {
  font-family: 'SourceSans3', Arial, sans-serif;
  font-size: 2em;
  margin-top: 0.3em;
  margin-bottom: 1em;
}

#projects h4 {
  font-family: 'Lato-Black', Arial, sans-serif;
  font-size: 1em;
}
#projects p {
  font-family: 'SourceSans3', Arial, sans-serif;
  font-size: 1.2em;
  margin-top: 0em;
  margin-bottom: 1em;
}


/* Container for project cards */
.projects-container {
  display: grid;
  gap: 5em;
}

.project-card {
  position: relative;
  background-color: #2e2e2e;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  width: 100%; 
  aspect-ratio: 16 / 10.5882353; 
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: auto;
}

.project-details {
  position: absolute;
  padding-top: 1%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%; 
  background-color: #bca9a1; 
  color: white; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.project-title {
  margin: 0;
  font-family: 'SourceSans3', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}


/* Styles for overlay and expanded project */
.overlay {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.expanded-project {
  position: relative;
  left:0%;
  top: 0%;
  width:75%;
  aspect-ratio: 16 / 10.5882353; 
  background-color: #2e2e2e;
  max-height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 8px;
  
  box-sizing: border-box;
}

.expanded-project .project-image {
  height: auto;
}

.expanded-project .project-details {
  width: auto;
  height: 500px;
  top: 85%;
  background-color: #bca9a1; 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0; 
  margin: 0; 
}

.expanded-project .project-title {
  padding: 0;
  margin: 0; 
  font-size: 2em;
}



.expanded-project .github-button {
  margin-left: 30%;
  margin-right: 30%;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  border-radius: 5px;
}

.expanded-project .project-description {
  padding: 0;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
}

/* Desktop styles */
@media (min-width: 769px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
  .project-title {
    font-size: 1.2em;
  }

  .project-description {
    font-size: 0.8em;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  #projects {
    padding-left: 10%;
    padding-right: 10%;
  }

  #projects h1 {
    font-family: 'Lato-Black', Arial, sans-serif;
    font-size: 3em;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }

  .expanded-project {
    width: 90%;
    aspect-ratio: 16 / 32;
  }
  .project-card {
    margin-bottom: 1em;
    width: 100%;
  }

  .project-title {
    font-size: 1.2em;
  }

  .project-description {
    font-size: 0.75em;
  }
}
